* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 16px;
}

body {
  display: grid;
  place-items: start center;
  min-height: 100vh;
  padding-block: 100px;
}

.generator {
  width: 500px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
}
.generator__description {
  text-align: center;
  position: absolute;
  top: 50px;
  transform: translateY(50%);
}
.generator__words__count {
  grid-column: 1/2;
}
.generator__words__count input {
  text-indent: 10px;
  width: 200px;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: beige;
}
.generator__button {
  grid-column: 2/3;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: beige;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.generator__button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.generator__copy {
  grid-column: 3/4;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: beige;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.generator__copy:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.generator__result {
  grid-column: 1/4;
  width: 100%;
  min-height: 200px;
  text-align: justify;
  text-indent: 50px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.generator__result::first-letter {
  text-transform: capitalize;
}