* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.hidden {
  display: none;
}

body .steps__container .steps .step .circle, body .steps__container .steps, body .steps__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .steps__container .steps .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  display: grid;
  place-items: center;
  padding-block: 300px;
  height: 100vh;
  background: #c21500; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc500, #c21500); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body .steps__container {
  position: relative;
  width: 700px;
}
body .steps__container .line {
  position: absolute;
  width: 80%;
  height: 4px;
  background-color: grey;
  z-index: -10;
}
body .steps__container .line .inside__line {
  height: 100%;
  width: 0;
  background-color: green;
  transition: width 0.5s ease-in-out;
}
body .steps__container .steps {
  justify-content: space-between;
  width: 80%;
}
body .steps__container .steps .step {
  height: 100%;
}
body .steps__container .steps .step .circle {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50px;
  border: 4px solid;
  background-color: white;
  color: grey;
  border-color: grey;
  transition: border 0.5s ease-in-out;
}
body .steps__container .steps .step .circle.active {
  background-color: white;
  color: green;
  border-color: green;
}
body .steps__container .steps .step .step__text {
  position: absolute;
  top: 110%;
  color: green;
  font-size: 20px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
body .steps__container .steps .step .step__text.opacity {
  opacity: 1;
}
body .controls button {
  padding: 8px 24px;
  background-color: transparent;
  border: 3px solid black;
  color: white;
  border-radius: 10px;
  outline: none;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}
body .controls button:hover {
  border-color: white;
  color: black;
}
body .controls button:disabled {
  cursor: not-allowed;
  color: grey;
  border-color: grey;
}