@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik Iso', cursive;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 100px;

  background-color: black;

  .clock {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f20746;
    position: relative;

    > div {
      width: 140px;
      text-align: center;
    }

    > span {
      text-align: center;
      padding-inline: 5px;
    }

    #seconds {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      width: 600px;
      aspect-ratio: 1;
      z-index: -1;
      font-size: 500px;

      color: rgba(255, 255, 255, 0.03);
    }
  }
}
